.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
logs/
.git/
.github/
.mypy_cache/
.ruff_cache/
.env
.ipynb_checkpoints/

# Data
rawdata/
precleandata/
cleandata/
traindata/
downloads/
