#UV stuff
uv.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
#.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logging
logs/
*.log

# Project specific
rawdata/
precleandata/
cleandata/
traindata/
*.parquet
*.zst
*.jsonl
*.txt
*.sh
*.csv
logs/
pretraining_pipeline.log
*.log
logs/pretraining_pipeline.log
